<div style="display:none">
$
% caligraphic letters
\newcommand{\calA}{\cal{A}}
\newcommand{\calB}{\cal{B}}
\newcommand{\calC}{\cal{C}}
\newcommand{\calD}{\cal{D}}
\newcommand{\calE}{\cal{E}}
\newcommand{\calF}{\cal{F}}
\newcommand{\calG}{\cal{G}}
\newcommand{\calH}{\cal{H}}
\newcommand{\calI}{\cal{I}}
\newcommand{\calJ}{\cal{J}}
\newcommand{\calK}{\cal{K}}
\newcommand{\calL}{\cal{L}}
\newcommand{\calM}{\cal{M}}
\newcommand{\calN}{\cal{N}}
\newcommand{\calO}{\cal{O}}
\newcommand{\calP}{\cal{P}}
\newcommand{\calQ}{\cal{Q}}
\newcommand{\calR}{\cal{R}}
\newcommand{\calS}{\cal{S}}
\newcommand{\calT}{\cal{T}}
\newcommand{\calU}{\cal{U}}
\newcommand{\calV}{\cal{V}}
\newcommand{\calW}{\cal{W}}
\newcommand{\calX}{\cal{X}}
\newcommand{\calY}{\cal{Y}}
\newcommand{\calZ}{\cal{Z}}
% bold letters
\newcommand{\a}{\boldsymbol{a}}
\newcommand{\b}{\boldsymbol{b}}
\newcommand{\c}{\boldsymbol{c}}
\newcommand{\d}{\boldsymbol{d}}
\newcommand{\e}{\boldsymbol{e}}
\newcommand{\f}{\boldsymbol{f}}
\newcommand{\g}{\boldsymbol{g}}
\newcommand{\h}{\boldsymbol{h}}
\newcommand{\i}{\boldsymbol{i}}
\newcommand{\j}{\boldsymbol{j}}
\newcommand{\k}{\boldsymbol{k}}
\newcommand{\l}{\boldsymbol{l}}
\newcommand{\m}{\boldsymbol{m}}
\newcommand{\n}{\boldsymbol{n}}
\newcommand{\o}{\boldsymbol{o}}
\newcommand{\p}{\boldsymbol{p}}
\newcommand{\q}{\boldsymbol{q}}
\newcommand{\r}{\boldsymbol{r}}
\newcommand{\s}{\boldsymbol{s}}
\newcommand{\t}{\boldsymbol{t}}
\newcommand{\u}{\boldsymbol{u}}
\newcommand{\v}{\boldsymbol{v}}
\newcommand{\w}{\boldsymbol{w}}
\newcommand{\x}{\boldsymbol{x}}
\newcommand{\y}{\boldsymbol{y}}
\newcommand{\z}{\boldsymbol{z}}
% blackboard letters
\newcommand{\AA}{\mathbb{A}}
\newcommand{\BB}{\mathbb{B}}
\newcommand{\CC}{\mathbb{C}}
\newcommand{\DD}{\mathbb{D}}
\newcommand{\EE}{\mathbb{E}}
\newcommand{\FF}{\mathbb{F}}
\newcommand{\GG}{\mathbb{G}}
\newcommand{\HH}{\mathbb{H}}
\newcommand{\II}{\mathbb{I}}
\newcommand{\JJ}{\mathbb{J}}
\newcommand{\KK}{\mathbb{K}}
\newcommand{\LL}{\mathbb{L}}
\newcommand{\MM}{\mathbb{M}}
\newcommand{\NN}{\mathbb{N}}
\newcommand{\OO}{\mathbb{O}}
\newcommand{\PP}{\mathbb{P}}
\newcommand{\QQ}{\mathbb{Q}}
\newcommand{\RR}{\mathbb{R}}
\newcommand{\SS}{\mathbb{S}}
\newcommand{\TT}{\mathbb{T}}
\newcommand{\UU}{\mathbb{U}}
\newcommand{\VV}{\mathbb{V}}
\newcommand{\WW}{\mathbb{W}}
\newcommand{\XX}{\mathbb{X}}
\newcommand{\YY}{\mathbb{Y}}
\newcommand{\ZZ}{\mathbb{Z}}
% probability notions
\renewcommand{\P}{\mathop{\mathbb{P}}}
\newcommand{\Px}{\mathbb{P}}
\newcommand{\E}{\mathop{\mathbb{E}}}
\newcommand{\Ex}{\mathbb{E}}
\newcommand{\Var}{\mathop{\operatorname{Var}}}
\newcommand{\Varx}{\operatorname{Var}}
\newcommand{\Cov}{\mathop{\operatorname{Cov}}}
\newcommand{\Covx}{\operatorname{Cov}}
$
</div>