/* 
Custom enviroments: definition, theorem
*/
:root {
  --primary-blue: #2196F3;
  --primary-black: #000;
  --theorem-head: #f1f1f1;
  --theorem-body: #f9f9f9;
  --toc-bg: #f9f9f9;
}

.definition, .theorem {
  display: flex;
  flex-direction: column;

  margin: 20px 0;
  box-shadow: 3px 3px 5px #888888; /* horizontal offset, vertical offset, blur radius, shadow color */

  > * {
    margin: 0;
  }

  .title, .content {
    padding: 5px 10px;
  }

  .title {
    display: block;
    font-size: large;
    font-weight: 500;
    background-color: var(--theorem-head);
  }

  .content {
    background-color: var(--theorem-body);
  }
}

.definition {
  border-left: 4px solid var(--primary-blue);
}

.theorem {
  border-left: 4px solid var(--primary-blue);
}


/* 
Table of Content
*/
.toc {
  margin: 20px 0;
  padding: 10px;
  background-color: var(--toc-bg);
  border: 1px solid #ddd;
  border-radius: 16px;
}
.toc h2 {
  margin: 5px;
  font-size: 20px;
  font-weight: 500;
}
.toc ul {
  list-style-type: none;
  padding: 0;
}
.toc li {
  margin: 2px 0;
  color: var(--primary-black);
}
.toc li.post-subsec {
  margin-left: 20px;
}
.toc a {
  text-decoration: none;
  color: inherit;
  /* color: var(--primary-blue); */
}
.toc a:hover {
  text-decoration: underline;
}
/* Bullet formatting */
.toc li.post-sec {
  list-style-type: disc;
  list-style-position: outside;
}
.toc li.post-subsec {
  list-style-type: circle;
  list-style-position: outside;
}

/* Styles for laptop mode */
@media (min-width: 1440px) {
  .toc {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}