/* 
Custom enviroments: definition, theorem
*/
.definition, .theorem {
  display: flex;
  flex-direction: column;

  margin: 20px 0;
  box-shadow: 3px 3px 5px #888888; /* horizontal offset, vertical offset, blur radius, shadow color */

  > * {
    margin: 0;
  }

  .title, .content {
    padding: 5px 10px;
  }

  .title {
    display: block;
    font-size: large;
    font-weight: 500;
    background-color: #f1f1f1;
  }

  .content {
    background-color: #f9f9f9;
  }
}

.definition {
  border-left: 4px solid #2196F3;
}

.theorem {
  border-left: 4px solid #2196F3;
}


/* 
Table of Content
*/
.toc {
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}
.toc h2 {
  margin-top: 0;
}
.toc ul {
  list-style-type: none;
  padding-left: 0;
}
.toc ul ul {
  margin-left: 20px;
}
.toc li {
  margin: 5px 0;
}
.toc a {
  text-decoration: none;
  color: #007BFF;
}
.toc a:hover {
  text-decoration: underline;
}
