/** 
 * Theorems
 */
.definition,
.theorem {
	display: flex;
	flex-direction: column;

	margin: 20px 0;

	@include themed() {
		border-left: 4px solid t($brand-primary);
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
		/* horizontal offset, vertical offset, blur radius, shadow color */
	}

	>* {
		margin: 0;
	}

	.title,
	.content {
		padding: 5px 10px;
	}

	.title {
		display: block;
		font-size: large;
		font-weight: 500;

		@include themed() {
			color: t($text-important);
			background-color: t(background-3);
		}
	}

	.content {
		@include themed() {
			background-color: t(background-2);
		}
	}
}



/* 
Table of Content
*/
.toc {
	margin: 20px 0;
	padding: 10px;
	border-radius: 16px;

	@include themed() {
		background-color: t($background-3);
	}
}

.toc h2 {
	margin: 10px;
	font-size: 20px;
	font-weight: 500;
}

.toc ul {
	list-style-type: none;
	padding: 0;
}

.toc li {
	margin: 2px 0;
}

.toc li.post-subsec {
	margin-left: 20px;
}

.toc a {
	text-decoration: none;
	color: inherit;
}

.toc a:hover {
	text-decoration: underline;
}

/* Bullet formatting */
.toc li.post-sec {
	list-style-type: disc;
	list-style-position: outside;
}

.toc li.post-subsec {
	list-style-type: circle;
	list-style-position: outside;
}

/* Styles for laptop mode */
@media (min-width: 1600px) {
	.toc {
		position: fixed;
		top: 100px;
		right: 20px;
		width: 380px;
		max-height: 80%;
		overflow-y: auto;
		z-index: 1000;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}
}



/**
 * Back to top button
 */
.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;

	@include themed() {
		background-color: t($brand-primary);
	}

	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	transition: opacity 0.3s,
	transform 0.3s;
}

.back-to-top.hidden {
	opacity: 0;
	pointer-events: none;
	transform: translateY(100px);
}

.back-to-top svg {
	width: 24px;
	height: 24px;
}



/**
 * Dark mode button
 */
.dark-mode-button {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	background-color: white;
	color: black;
}